<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration debug="false" scan="false">
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
      <fieldNames>
        <message>message</message>
      </fieldNames>
    </encoder>
  </appender>
  <appender-ref ref="CONSOLE"/>
</configuration>